{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{#match @custom.publication_cover_style "!=" "None"}}
    <div class="site-header-content{{#match @custom.publication_cover_style "Large"}} large{{/match}}">
        <div class="inner">
            <h1 class="site-title">
                Mehr als <span><br style="display: none"></span> eine Tonne
            </h1>
            <h1 class="site-title swapper">
                    <span class="changing-text"></span>
            </h1>
        </div>
    </div>
{{/match}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner posts">

        <div class="post-feed{{#match @custom.feed_layout "List"}} list{{/match}} home">
            {{#foreach posts}}

                {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}

            {{/foreach}}
        </div>
        <img class="img-overflow-right"
             src="assets/svg/Smoke.svg"
        />
    </div>
    <div class="inner post-feed headline">
        <img class="img-overflow-left"
             src="assets/svg/Banana.svg"
             style="transform: rotate(-25deg);"
        />
        <h2>
            50% aller Zürcher:innen haben keinen Zugang zur Bioabfallentsorgung.
        </h2>
    </div>
    <div class="outer colored-back">

        <div class="inner post-feed">
            <div class="post-card">
                <h3>Mieter*in</h3>
                <div class="post-card-image-container">
                    <img class="post-card-image" src="assets/svg/Mieter-2.svg">
                    <img class="post-card-image-arrow" src="assets/svg/Arrow.svg">
                </div>
            </div>
            <div class="post-card">
                <h3>Eigentümer*in</h3>
                <div class="post-card-image-container">
                    <img class="post-card-image" src="assets/svg/Verwaltung-2.svg">
                    <img class="post-card-image-arrow" src="assets/svg/Arrow.svg">
                </div>
            </div>
            <div class="post-card">
                <h3>ZH Bioabfall-Abo</h3>
                <div class="post-card-image-container">
                    <img class="post-card-image" src="assets/svg/Grüncontainer-2.svg">
                    <img class="post-card-image-arrow last-arrow" src="assets/svg/Arrow.svg">
                </div>
            </div>
            <img class="img-overflow-right"
                 src="assets/svg/Smile.svg"
                 style="right: -6vw;"
            />
        </div>

        <div class="inner post-feed">
            <h2>Kein Container ohne Eigentum</h2>
            <p>Grüncontainer können vertraglich über ein Bioabfall-Abo bei der Stadt erworben werden.
                Ohne Einverständnis der Liegenschafts-Eigentümer*in geht aber leider nichts.
                <br>
                Erfahre was du tun kannst, um Zugang zu erhalten oder anderen zu ermöglichen →
            </p>
        </div>
    </div>
    <div class="outer">

        <div class="inner post-feed">
            <div class="post-card bg-none">
                <div class= "image-container">
                <img class="post-card-image" src="assets/svg/Biogas-left.svg">
                </div>
                <div class= "text-container">
                <h3>Biogas</h3>
                <p>Mit deinen Grünabfällen wird Biogas produziert.
                    <br>Übrigens: Die Biogas-Produktion freut sich über deine Küchenabfälle! ;)
                </p>
                </div>
            </div>
            <div class="post-card bg-none">
                <div class= "image-container">
                <img class="post-card-image" src="assets/svg/Plant-left.svg">
                </div>
                <div class= "text-container">
                <h3>Erde & Dünger</h3>
                <p>Mit der Entsorgung im Grüncontainer sorgst du dafür, dass wertvolle Komposterde und Flüssigdünger für die Landwirtschaft produziert werden kann.</p>
                </div>
            </div>
            <div class="post-card bg-none">
                <div class= "image-container">
                <img class="post-card-image" src="assets/svg/CO2-left.svg">
                </div>
                <div class= "text-container">
                <h3>Emissionen senken</h3>
                <p>Was im Grüncontainer landet, muss nicht verbrannt werden und du sorgst für eine verbesserte Energiebilanz der Verbrennungsanlagen.</p>
                </div>
            </div>

            <img class="img-overflow-left"
                 src="assets/svg/NoSmile.svg"
                 style="left:-8vw; top: -8vw;"
            />
        </div>
    </div>
</main>

<script type="text/javascript" src="assets/js/text-changer.js">
</script>
